node_modules/
out/
dist/
dist-installer/
*.log
.DS_Store
*.vrm
dev-out.log
dev.err
assets/rapidocr/RapidOCR-json.exe
assets/rapidocr/*.onnx
assets/rapidocr/dict_*.txt
assets/rapidocr/ppocr_keys_v1.txt
assets/rapidocr/rec_*.onnx
*.traineddata
